<%provide(:title, "Help") %>

<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the 
	<a href="http://wwww.railstutorial.org/#help">Help Section.</a>
	To get help with this sample application, see the 
	<a href="http://www.railstutorial.org/book">Book page</a>.
</p>
