<footer>
    <p>
        Based on a lessons from <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/"%> by <%= link_to "Michael Hartl", "http://www.michaelhartl.com/"%>. 
        Powered by <%= link_to image_tag("rails.jpg", alt: "Rails Logo", class: "footer-img" ), 'http://rubyonrails.org'%><%= link_to image_tag("ruby.png", alt: "Ruby Logo", class: "footer-img"), 'http://www.ruby-lang.org' %> 
    </p>
    

</footer>